body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
}

.preHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3c3c3b;
  padding: 10px ;
  color: white;
  list-style: none;
}

.list-inline {
  list-style: none;  
}

.list-inline >li {
  margin-left: 10px;
}

.preHeader-right {
  display: flex;
  flex-direction: row;
}

.preHeader .fa {
  margin-right: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  size: 80px;
  
  
}

.headerLeft {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  
}

.headerRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
  
}

.header img {
  height: 50px;
  width: auto; 
  padding: 10px;
}

.box1{
  max-width: 1400px;
 
}

h1 {
  font-family: 'Mukta', sans-serif; 
  font-size: 58px;
  padding: 100px 200px;
  white-space: nowrap;
  letter-spacing: 2px;
}

.oeillet {
  border-radius: 50%;
  background-color: rgb(226, 39, 55);
  width: 150px;
  height: 150px;
}

.backgroundImage1 {
  background-image: url("images/Image0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: white;
}

.textIndie2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 30px;
  padding: 20px 0 0 0;
}

.backgroundImage2 {
  background-image: url("images/Image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  font-size: 30px; 
}

.box3 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.box3Right {
  display: grid;
  grid-template-rows: min-content auto;
  align-items: center; 
  background-color: rgb(226, 226, 226);
  padding: 40px;
  text-align: center;
  
}

#background-image {
  background-image: url("images/Image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
